In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [9]:
df = pd.read_csv('motor.csv')

In [10]:
df.head()

  name;selling_price;year;seller_type;owner;km_driven;ex_showroom_price
0  Royal Enfield Classic 350;175000;2019;Individu...
1    Honda Dio;45000;2017;Individual;1st owner;5650;
2  Royal Enfield Classic Gunmetal Grey;150000;201...
3  Yamaha Fazer FI V 2.0 [2016-2018];65000;2015;I...
4  Yamaha SZ [2013-2014];20000;2011;Individual;2n...